.container {
  padding: 2rem;
  font-family: sans-serif;
}

.resumoGeral {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.lista {
  margin-top: 1.5rem;
}

.itemFranquia, .itemLead {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid #ddd;
}